.serviceCard1:hover {
  background: linear-gradient(315deg, rgba(0,0,0,1) 63%, rgba(0,65,50,1) 97%)
}

.serviceCard2:hover {
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 32%, #132c37 100%);
}

.serviceCard3:hover {
  background: linear-gradient(200deg, rgba(0,0,0,1) 34%, rgba(42,16,16,1) 97%);
}

.serviceCard4:hover {
  background: linear-gradient(129deg, rgba(0,0,0,1) 30%, rgba(43,27,8,1) 93%)
}
