.background_color{
  background-color: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(134,220,255,1) 100%);
  /* radial-gradient(circle, rgba(255,255,255,1) 7%, rgba(255,126,125,1) 100%); */
  /* background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(134,220,255,1) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,126,125,1) 50%, rgba(255,126,125,1) 100%);
    background-size: 100% 200%; */
    /* background-color: #132c37; */
    background: linear-gradient(180deg, rgba(63,189,241,1) 0%, rgba(255,255,255,1) 55%, rgba(255,126,125,1) 100%);
    background: linear-gradient(180deg, rgba(165,229,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,201,200,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(165,229,255,1) 36%, rgba(255,255,255,1) 53%, rgba(255,201,200,1) 100%);
}
.serviceCard1:hover {
  background: linear-gradient(315deg, rgba(0,0,0,1) 63%, rgba(0,65,50,1) 97%)
}

.serviceCard2:hover {
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 32%, #132c37 100%);
}

.serviceCard3:hover {
  background: linear-gradient(200deg, rgba(0,0,0,1) 34%, rgba(42,16,16,1) 97%);
}

.serviceCard4:hover {
  background: linear-gradient(129deg, rgba(0,0,0,1) 30%, rgba(43,27,8,1) 93%)
}
